.coverage*
*.pyc
.idea
build
dist
bin
obj
.ipynb_checkpoints
__pycache__
*.pyc
*.swp
.cache
.eggs
*.egg-info
run.sh
*.pb
*.onnx
*.gz
*.zip
*mobilenet_v1_0.75_192/
*.dot
visualization/output/graphs/graph*.pdf
*.vscode
*models/*
